@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
html{
  height: 100%;
  padding-bottom: 380px;
  background-attachment: fixed;
  background-image: url(https://media.freestocktextures.com/cache/ee/a7/eea7053352caf594e5ab1a7c3667e75d.jpg);
}
h1{
	text-align: center;
	font-size: 40px;
  color: white;
}
.form{
	font-family: Raleway, san-serif;
	text-align: center;
	font-size: 19px;
  color: #800000;
  font-weight: bold;
	background: rgba(255, 230, 179, 0.7);
	margin: 0px auto ;
	border-radius: 7px;
	width: 55%;
	max-width: 900px;
	padding-top: 10px;
	box-shadow: 3px 3px 8px 4px rgb(51, 13, 0);
}
.form1{
	height: 27px;
	width: 80% ;
  border: 1px solid rgba(255, 230, 179, 0.7);
	border-radius: 6px;
  background-color: rgba(81, 49, 40, 0.4);
  color: #800000;
}
option{
  background: rgba(255, 230, 179, 0.8);
  color: #800000;
}
.left-side{
	display: inline-block;
  text-align: right;
	width: 35%;
	min-width: 20%;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 5px;
}
.right-side{
	display: inline-block;
  text-align: left;
  width: 40%;
  min-width: 20%;
  position: relative;
  padding-left: 10px;
  padding-bottom: 27px;
  margin-top: 5px;
}
#radio{
	margin-left: -45px;
}
::placeholder{
  color: #800000;
  opacity: 0.6;
}
input:hover,
textarea:hover,
select:hover,
button:hover{
  border: 1px solid rgba(51, 13, 0, 0.2);
  outline: none;
}
.checkbox{
	position: relative;
  left: -45px;
  display: block;
  line-height: -30px;
}
input[type="checkbox"]{
	float: left;
}
button{
	height: 37px;
	width: 95px;
	margin-left: -3em;
	background: rgb(51, 13, 0);
  border: 1px solid rgba(51, 13, 0, 0.8);
	border-radius: 8px;
	color: #fff;
	font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}